*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.division{
    height: 100vh;
    width: 100%;
    background-image: url(https://previews.123rf.com/images/maxkabakov/maxkabakov1511/maxkabakov151102392/48081290-business-concept-glowing-calculator-icon-in-grunge-dark-room-with-dirty-floor-black-background-with-.jpg);
    background-size: cover;
    background-position: center;
}
form input[type="date"]{
    font-size: 22px;
    font-family: "lato", sans-serif;
    padding-left: 20px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(185, 233, 185, 0.9), 0px 0px 15px;
}

.card{
    width: 450px;
    height: 500px;
    background-color: rgba(185, 233, 185, 0.8);
    position: absolute;
    top: 40%;
    right: 18%;
    bottom: 18%;
    transform: translateX(40%);
    display: flex;
    align-items: center;
    border: 2px double;
    box-shadow: 0px 0px 30px, 0px 0px 30px rgba(207, 103, 6, 0.918);
}
form p{
    font-family: "lato", sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;
}
.card-input{
    height: 40px;
    width: 420px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 15px;
    border-radius: 10px;
    background-color: rgba(207, 103, 6, 0.8);
}
.button{
    cursor: pointer;
    width: 300px;
    height: 40px;
    margin: 20px;
    margin-left: 80px;
    font-size: x-large;
    border-radius: 20px;
    border: 0;
    background-color: rgba(207, 103, 6, 0.918);
    box-shadow: 0px 0px 10px, 0px 0px 25px;
}
#checkbox{
    margin-left: 20px;
}

form label{
    border: 2px solid rgba(207, 103, 6, 0.918);
    display: flex;
    height: 40px;
    width: 150px;
    padding-top: 4px;
    padding-left: 55px;
    font-size: 25px;
    border-radius: 15px;
    margin-left: 10px;
}
#female {
    position: absolute;
    top: 230px;
    left: 18px;

}
#male {
    position: absolute;
    top: 172px;
    left: 18px;
}
input[type="radio"]:checked + label{
    background-color: rgba(207, 103, 6, 0.918);
    color: black;
}
input[type="radio"]{
    width: 30px;
    height: 30px;
}
.span {
    padding: 50px;
}
.agreement{
    font-size: 15px;
    text-align: start;
    margin: 10px;
    color: rgba(207, 103, 6, 0.918);
}
.user{
    color: rgba(207, 103, 6, 0.918);
    text-decoration: underline;
    cursor: pointer;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav ul li{
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 10px 10px;
    animation: text 2s 1;
}
li:first-child{
    font-size: 4em;
    color: rgb(177, 137, 44);
}
li:nth-child(2){
    font-size: 3em;
    color: rgb(91, 209, 215);
}
li:last-child{
    font-size: 2em;
    
}
@keyframes text{
    0%{
        color: black;
        margin-right: -80px;
    }
    30%{
        letter-spacing: 5px;
        margin-right: -30px;
    }
    85%{
        letter-spacing: 3px; 
    }

}
.span:before{
    content: "";
    animation: animate infinite 10s;
    font-size: 60px;
}
@keyframes animate{
    0%{
        content: 'Do Good';
        color: #f9004d;
    }
    20%{
        content: 'Always Pray';
        color: #f9004d;
    }
    40%{
        content: 'Have Fun';
        color: #f9004d;
    }
    60%{
        content: 'Learn';
        color: #f9004d;
    }
    80%{
        content: 'Appreciate';
        color: #f9004d;
    }
    100%{
        content: 'Speak Up';
        color: #f9004d;
    }
}
nav h2{
    margin: 30px;
}
.description{
    width: 450px;
    position: absolute;
    top: 25%;
    left: 7%;
}
.description p{
    color: #efdab9;
    font-family: "poppins", sans-serif;
    font-size: 15px;
    font-weight: 600;
    text-align: justify;
    
}
.description h3{
    color: #efdab9;
    margin-bottom: 10px;
    font-size: 35px;
    letter-spacing: 3px;
    font-family: "lato", sans-serif;
}
.description span{
    color: rgb(240, 191, 76);
}
.share{
    position: absolute;
    top: 90%;
    left: 8%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}
.share p{
    font-size: 23px;
    color: wheat;
    margin-right: 60px;
}
.share .social a{
    display: inline-block;
    color: white;
    margin-right: 15px;
    transition: transform .3s;
}
.share .social a:hover{
    transform: scale(2.0);
}
